[submodule "vorkurs/skript-mathe2"]
	path = vorkurs/skript-mathe2
	url = https://github.com/FloriF/skript-mathe2.git
[submodule "vorkurs/skript-mathe-3"]
	path = vorkurs/skript-mathe-3
	url = https://github.com/FloriF/skript-mathe-3.git
[submodule "vorkurs/DingesWolf-Mathe3-WS1617"]
	path = vorkurs/DingesWolf-Mathe3-WS1617
	url = https://github.com/JW301/DingesWolf-Mathe3-WS1617.git
[submodule "vorkurs/algoskript-ss15"]
	path = vorkurs/algoskript-ss15
	url = https://bitbucket.org/de_kuenstle/algoskript-ss15.git
[submodule "vorkurs/krypto-skript"]
	path = vorkurs/krypto-skript
	url = https://bitbucket.org/Jan-Peter/krypto-skript.git
[submodule "vorkurs/Info-I"]
	path = vorkurs/Info-I
	url = https://github.com/Boeserwolff/Info-I.git
[submodule "vorkurs/DingesWolf-Mathe1-Dorn-WS1516"]
	path = vorkurs/DingesWolf-Mathe1-Dorn-WS1516
	url = https://github.com/JW301/DingesWolf-Mathe1-Dorn-WS1516.git
[submodule "vorkurs/robotiki-uebungsblaetter"]
	path = vorkurs/robotiki-uebungsblaetter
	url = https://bitbucket.org/Jan-Peter/robotiki-uebungsblaetter.git
[submodule "vorkurs/ptb"]
	path = vorkurs/ptb
	url = https://github.com/FloriF/ptb.git
[submodule "vorkurs/Algorithmen-Skript-Update-SS-16"]
	path = vorkurs/Algorithmen-Skript-Update-SS-16
	url = https://github.com/FloriF/Algorithmen-Skript-Update-SS-16.git
[submodule "vorkurs/Functional-Programming-WS1516"]
	path = vorkurs/Functional-Programming-WS1516
	url = https://github.com/FinnIckler/Functional-Programming-WS1516.git
[submodule "vorkurs/SS15-Skripte"]
	path = vorkurs/SS15-Skripte
	url = https://github.com/FinnIckler/SS15-Skripte.git
[submodule "vorkurs/tool-kit/matlab-save-figure"]
	path = vorkurs/tool-kit/matlab-save-figure
	url = https://github.com/djoshea/matlab-save-figure.git
[submodule "vorkurs/tool-kit/matlab-utils"]
	path = vorkurs/tool-kit/matlab-utils
	url = https://github.com/djoshea/matlab-utils.git
[submodule "vorkurs/tool-kit/matlab-barplot"]
	path = vorkurs/tool-kit/matlab-barplot
	url = https://github.com/djoshea/matlab-barplot.git
[submodule "vorkurs/tool-kit/matdb"]
	path = vorkurs/tool-kit/matdb
	url = https://github.com/djoshea/matdb.git
[submodule "inf4122"]
	path = inf4122
	url = git@github.com:GdZ/bs_praktikum.git
